# Arquivos gerados na compilação (não versionar)
.gradle/
build/
app/build/
app/release/
local.properties
*.jks
*.keystore

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Gradle wrapper JAR (gerado pelo Android Studio)
gradle/wrapper/gradle-wrapper.jar
